<div class="datetime-range">
  <div class="start-datetime"
    ng-click="selected = ( selected === start ) ? '' : start"
    ng-class="{'active': selected === start}">
    <div class="date">{{ start.format('DD MMMM YYYY') }}</div>
    <div class="time">{{ start.format('HH : mm : ss') }}</div>
  </div>
  <div class="end-datetime"
    ng-click="selected = ( selected === end ) ? '' : end"
    ng-class="{'active': selected === end}">
    <div class="date">{{ end.format('DD MMMM YYYY') }}</div>
    <div class="time">{{ end.format('HH : mm : ss') }}</div>
  </div>
  <div class="edit-popover"
    ng-class="{'start': selected === start, 'end': selected === end}"
    ng-show="!!selected">
    <div class="calendar-toggle">{{ selected.format('DD MMMM YYYY') }}</div>
  </div>
</div>
