/**
 * Datetime range styles
 */
.datetime-range {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-decoration: none;
  text-align: center;
}


/**
 * Start and end datetime objects
 */
.datetime-range .start-datetime,
.datetime-range .end-datetime {
  cursor: pointer;
  position: relative;
  float: left;
  padding: 0.5em 1.5em;
  background-color: #efefef;
  transition: background-color 0.25s ease;
}
.datetime-range .start-datetime .date,
.datetime-range .end-datetime .date {
  color: #777;
  font-size: 1em;
  line-height: 1em;
  display: block;
  overflow: hidden;
}
.datetime-range .start-datetime .time,
.datetime-range .end-datetime .time {
  font-size: 1.5em;
  line-height: 1.5em;
  display: block;
  overflow: hidden;
}
.datetime-range .start-datetime.active,
.datetime-range .start-datetime:hover,
.datetime-range .end-datetime.active,
.datetime-range .end-datetime:hover {
  background: #ddd;
}
.datetime-range .start-datetime {
  margin-right: 1.5em;
}
.datetime-range .start-datetime::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2.2em;
  border-top: 2.2em solid transparent;
  border-bottom: 2.2em solid transparent;
  border-left: 1em solid #efefef;
  transition: border-left 0.25s ease;
  right: -1em;
  z-index: 5;
}
.datetime-range .start-datetime.active::after,
.datetime-range .start-datetime:hover::after {
  border-left-color: #ddd;
}
.datetime-range .end-datetime::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2.2em;
  border-width: 2.2em 0 2.2em 1em;
  border-style: solid;
  border-color: #efefef #efefef #efefef transparent;
  transition: border-color 0.25s ease;
  left: -1em;
}
.datetime-range .end-datetime.active::before,
.datetime-range .end-datetime:hover::before {
  border-color: #ddd #ddd #ddd transparent;
}


/**
 * Edit datetime popover
 */
.datetime-range .edit-popover {
  position: absolute;
  top: 80px;
  width: 360px;
  height: auto;
  padding: 0px;
  background: #efefef;
  border-radius: 0px;
  z-index: 15;
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,.35);
  box-shadow: 0 0 12px rgba(0,0,0,.35);
}
.datetime-range .edit-popover::before {
  content: "";
  display: block;
  position: relative;
  background-color: #efefef;
  width: 1em;
  height: 1em;
  top: -0.5em;
  -webkit-box-shadow: 2px -2px 3px -1px #cacaca;
  box-shadow: 2px -2px 3px -1px #cacaca;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.datetime-range .edit-popover.start::before {
  left: 5%;
}
.datetime-range .edit-popover.end::before {
  left: 90%;
}


/**
 * Calendar
 */
.datetime-range .calendar-toggle {
  width: 100%;
  color: #777;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: -0.5em;
  cursor: pointer;
}


/**
 * Clock
 */
