/**
 * Datetime range styles
 */
.datetime-range {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 1.5em;
  font-size: 1em;
  font-family: sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-decoration: none;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


/**
 * Start and end datetime objects
 */
.datetime-range .start-datetime,
.datetime-range .end-datetime {
  cursor: pointer;
  position: relative;
  width: 47%;
  height: 4.4em;
  background-color: #efefef;
  transition: background-color 0.25s ease;
}
.datetime-range .start-datetime {
  position: absolute;
  left: 0;
}
.datetime-range .end-datetime {
  position: absolute;
  left: 53%;
}
.datetime-range .start-datetime .date,
.datetime-range .end-datetime .date {
  color: #777;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0.3em;
  display: block;
  overflow: hidden;
}
.datetime-range .start-datetime .time,
.datetime-range .end-datetime .time {
  font-size: 1.5em;
  line-height: 1.5em;
  display: block;
  overflow: hidden;
}
.datetime-range .start-datetime.active,
.datetime-range .start-datetime:hover,
.datetime-range .end-datetime.active,
.datetime-range .end-datetime:hover {
  background: #ddd;
}
.datetime-range .start-datetime::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2.2em;
  border-top: 2.2em solid transparent;
  border-bottom: 2.2em solid transparent;
  border-left: 1em solid #efefef;
  transition: border-left 0.25s ease;
  right: -1em;
  z-index: 5;
}
.datetime-range .start-datetime.active::after,
.datetime-range .start-datetime:hover::after {
  border-left-color: #ddd;
}
.datetime-range .end-datetime::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2.2em;
  border-width: 2.2em 0 2.2em 1em;
  border-style: solid;
  border-color: #efefef #efefef #efefef transparent;
  transition: border-color 0.25s ease;
  left: -1em;
}
.datetime-range .end-datetime.active::before,
.datetime-range .end-datetime:hover::before {
  border-color: #ddd #ddd #ddd transparent;
}


/**
 * Edit datetime popover
 */
.datetime-range .edit-popover {
  position: absolute;
  top: 80px;
  width: 100%;
  height: auto;
  padding: 0px;
  background: #efefef;
  border-radius: 0px;
  z-index: 15;
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,.35);
  box-shadow: 0 0 12px rgba(0,0,0,.35);
}
.datetime-range .edit-popover::before {
  content: "";
  display: block;
  position: relative;
  background-color: #efefef;
  width: 1em;
  height: 1em;
  top: -0.5em;
  -webkit-box-shadow: 2px -2px 3px -1px #cacaca;
  box-shadow: 2px -2px 3px -1px #cacaca;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.datetime-range .edit-popover.start::before {
  left: 5%;
}
.datetime-range .edit-popover.end::before {
  left: 90%;
}


/**
 * Calendar
 */
.datetime-range .calendar-toggle {
  width: 100%;
  color: #777;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: -0.5em;
  cursor: pointer;
}
.datetime-range .calendar .calendar-header {
  background-color: #fff;
  position: relative;
  width: 100%;
  font-size: 1.5em;
  line-height: 2em;
}
.datetime-range .calendar .calendar-header .arrow {
  display: inline-block;
  color: #ddd;
  cursor: pointer;
  line-height: 1.5em;
  font-size: 1.5em;
}
.datetime-range .calendar .calendar-header .arrow:hover {
  color: #999;
}
.datetime-range .calendar .calendar-header .arrow.arrow-left {
  position: absolute;
  left: 0.25em;
}
.datetime-range .calendar .calendar-header .arrow.arrow-right {
  position: absolute;
  right: 0.25em;
}
.datetime-range .calendar .calendar-body .weekdays {
  display: table;
  width: 100%;
  color: #777;
  font-size: 1em;
  line-height: 2em;
  text-transform: uppercase;
}
.datetime-range .calendar .calendar-body .weekdays .weekday {
  display: table-cell;
}
.datetime-range .calendar .calendar-body .dates .date {
  cursor: pointer;
  color: #777;
  font-size: 1.5em;
  line-height: 2.5em;
  letter-spacing: 1px;
  display: inline-block;
  width: 14%;
}
.datetime-range .calendar .calendar-body .dates .date.inactive{
  color: #ddd;
}
.datetime-range .calendar .calendar-body .dates .date.selected {
  background: rgba(255, 69, 0, 0.75);
  border-radius: 50%;
}


/**
 * Timer
 */
.datetime-range .timer {
  width: 100%;
  background-color: #fff;
}
.datetime-range .timer .timer-hours,
.datetime-range .timer .timer-minutes,
.datetime-range .timer .timer-seconds {
  width: 32%;
  display: inline-block;
  font-size: 3em;
  line-height: 1em;
  position: relative;
}
.datetime-range .timer .timer-hours:after,
.datetime-range .timer .timer-minutes:after {
  content: ":";
  position: absolute;
  top: 1em;
  right: -0.25em;
}
.datetime-range .timer .timer-hours .arrow,
.datetime-range .timer .timer-minutes .arrow,
.datetime-range .timer .timer-seconds .arrow {
  color: #ddd;
  cursor: pointer;
  line-height: 1em;
  font-size: 0.75em;
}
.datetime-range .timer .timer-hours .arrow:hover,
.datetime-range .timer .timer-minutes .arrow:hover,
.datetime-range .timer .timer-seconds .arrow:hover {
  color: #999;
}
.datetime-range .timer .timer-hours .arrow.arrow-up,
.datetime-range .timer .timer-minutes .arrow.arrow-up,
.datetime-range .timer .timer-seconds .arrow.arrow-up {
  padding-top: 0.5em;
}
.datetime-range .timer .timer-hours .arrow.arrow-down,
.datetime-range .timer .timer-minutes .arrow.arrow-down,
.datetime-range .timer .timer-seconds .arrow.arrow-down {
  padding-bottom: 0.5em;
}
